@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@media only screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

a{
  text-decoration: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}


@media only screen and (max-width: 576px){
  .container{
    width: 100%;
    padding: 0 15px;
  }
}